.load {
   &__selectCollection {
      border: 2px solid #6A75CA;
      color: #6A75CA;
      font-size: 12px;
      padding: 5px 18px;
      border-radius: 6px;
      cursor: pointer;
      transition: .3s ease-in-out;
      margin: 4px;
      flex: 1;
      text-align: center;

      &:hover {
         background: #eef0ff;
      }  
   }

   &__selectCollection--active {
      @extend .load__selectCollection;
      background: #6A75CA;
      color: #fff;
      
      &:hover {
         background: #6A75CA;
      }
   }

   &__formatCollection {
      box-sizing: content-box;
      flex: 1;
      padding: 18px 36px;
      text-align: center;
      color: #6A75CA;
      font-size: 14px;
      border-radius: 6px;
      cursor: pointer;
      transition: .3s ease-in-out;
      margin: 10px;
      border: 2px solid #6A75CA;
      flex: 1;
   }

   &__formatCollection--active {
      @extend .load__formatCollection;
      background: #6A75CA;
      color: #fff;
      
      &:hover {
         background: #6A75CA;
      }
   }
}