
// more action wrapper on folder 
.folder {
   width: 230px;
   max-height: fit-content;
   min-height: 170px;
   margin: 20px;
   background-color: #ffffff;
   border-radius: 0 17px 17px 18px;
   box-shadow: 4px 4px 24px rgba(0, 7, 26, 0.18);
   position: relative;
   z-index: 100;
   padding: 10px 17px 17px 17px;
   transition: .3s ease-in-out;
   cursor: pointer;

   &:hover {
      box-shadow: 4px 4px 24px rgba(0, 7, 26, 0.289);
   }

   &__tag {
      position: absolute;
      top: -24px;
      left: -6px;
   }
 }

.moreAction {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   border-radius: 17px;
   backdrop-filter: blur(5px);
   background: rgba(255, 255, 255, 0.507);
   padding:  40px 65px;
   transition: .2s ease-in-out;

   &__buttons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 45%;
   }
 
   &__btn {
     display: flex;
     flex-direction: column;
     align-items: center;
     cursor: pointer;
     height: 40px;
     justify-content: space-between;
   }
 }

.moreAction__btnEdit {
   &:hover > .moreAction__iconEdit {
      color: green;
   }

   &:hover > .moreAction__textEdit {
      color: green;
   }
 }

 .moreAction__btnShare {
    opacity: 0.3;
    pointer-events: none;
   &:hover > .moreAction__iconShare {
      color:   rgb(1, 103, 255);
   }

   &:hover > .moreAction__textShare {
      color:  rgb(1, 103, 255);
   }
 }

 .moreAction__btnLoad {
   &:hover > .moreAction__iconLoad {
      color: rgb(255, 166, 0);
   }

   &:hover > .moreAction__textLoad {
      color:  rgb(255, 166, 0);
   }
 }

 .moreAction__btnDelete {
   &:hover > .moreAction__iconDelete {
      color: rgb(255, 60, 0);
   }

   &:hover > .moreAction__textDelete {
      color:   rgb(255, 60, 0);
   }
 }

 .MuiSvgIcon-root.moreAction__icon {
   transition: .2s ease-in-out;
 }